.background {
    z-index: -1;
}

.contents {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 2rem;

    border-radius: 1rem;

    background-color: white;
}
@media (max-width: 1000px) {
    .contents {
        margin-left: 15%;
        margin-right: 15%;

    }
}
@media (min-width: 1000px) {
    .contents {
        margin-left: 20%;
        margin-right: 20%;
    }
}
:root[data-dark-mode = "dark"] .contents {
    border-radius: 1rem;
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r - var(--tone-step)), 255)
        clamp(0, calc(g - var(--tone-step)), 255)
        clamp(0, calc(b - var(--tone-step)), 255)
    );
}

.inPadding {
    border-radius: 1rem;
}
:root[data-dark-mode = "dark"] .inPadding {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r), 255)
        clamp(0, calc(g), 255)
        clamp(0, calc(b), 255)
    );
}

:root[data-dark-mode = "dark"] .title {
    border-radius: 1rem;
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r), 255)
        clamp(0, calc(g), 255)
        clamp(0, calc(b), 255)
    );
}

:root[data-dark-mode = "dark"] .body {
    
}

input, button {
    border-radius: 3rem;
    margin: .25rem;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.contents {
  position: relative;
  z-index: 1;
}

::-webkit-scrollbar {
    background: transparent;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
}