.contents {
    border: solid black 1px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 2rem;
    padding-top: 1rem;

    border-radius: 1rem;
}
@media (max-width: 1000px) {
    .contents {
        margin-left: 15%;
        margin-right: 15%;

    }
}
@media (min-width: 1000px) {
    .contents {
        margin-left: 20%;
        margin-right: 20%;
    }
}

input, button {
    border-radius: 3rem;
    border: 1px solid black;
    margin: .25rem;
}

.body {
    margin-left: 1rem;
}