*,
*::before,
*::after { box-sizing: border-box; }

.heading {
    border-radius: 1rem;
    padding-left: 1rem;
}

.contents {
    border-radius: 1rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}
:root[data-dark-mode = "dark"] .contents {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r + var(--tone-step) * 2), 255)
        clamp(0, calc(g + var(--tone-step) * 2), 255)
        clamp(0, calc(b + var(--tone-step) * 2), 255)
    );
}
:root[data-dark-mode = "light"] .contents {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r - var(--tone-step) * 2), 255)
        clamp(0, calc(g - var(--tone-step) * 2), 255)
        clamp(0, calc(b - var(--tone-step) * 2), 255)
    );
}

.main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    border-radius: 1rem;
}

.mainChild {
  aspect-ratio: 1 / 1;
  vertical-align: middle;

  flex: 1 1 33.333%;

  border-radius: 1rem;

  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
}

:root[data-dark-mode = "dark"] .top {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r + var(--tone-step) * 3), 255)
        clamp(0, calc(g + var(--tone-step) * 3), 255)
        clamp(0, calc(b + var(--tone-step) * 3), 255)
    ); 
}
:root[data-dark-mode = "light"] .top {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r - var(--tone-step)), 255)
        clamp(0, calc(g - var(--tone-step)), 255)
        clamp(0, calc(b - var(--tone-step)), 255)
    ); 
}

.top    { 
    flex: 1 1 25%; 
}
.bottom { 
    flex: 1 1 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1000px) {
    .main {
        border: 1px solid black;
    }
}

.mainSubChild {
    flex: 1;
    border-radius: 1rem;
    margin-left: 1%;
    margin-right: 1%;
}
:root[data-dark-mode = "dark"] .mainSubChild {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r + var(--tone-step) * 4), 255)
        clamp(0, calc(g + var(--tone-step) * 4), 255)
        clamp(0, calc(b + var(--tone-step) * 4), 255)
    ); 
}
:root[data-dark-mode = "light"] .mainSubChild {
    background-color: var(--sky-bg)
}

.other {
    border-radius: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;

    aspect-ratio: 1 / 1.5;
    overflow-y: scroll;
}

.otherChild {
    border-radius: 1rem;
    margin-bottom: 1rem;
}
:root[data-dark-mode = "dark"] .otherChild {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r + var(--tone-step) * 4), 255)
        clamp(0, calc(g + var(--tone-step) * 4), 255)
        clamp(0, calc(b + var(--tone-step) * 4), 255)
    ); 
}
:root[data-dark-mode = "light"] .otherChild {
    background-color: var(--sky-bg)
}