.contents {
    border: 1px solid black;
}

.heading {
    border: 1px solid black;
}

.body {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.element {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.elementChild {
    border: 1px solid black;
}