*,
*::before,
*::after { box-sizing: border-box; }

.contents { 
  border: 1px solid black; 
}

.main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.mainChild {
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  vertical-align: middle;

  flex: 1 1 33.333%;
}

.mainSub {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mainSubChild {
    border: 1px solid black;
    flex: 1;
}

@media (max-width: 1000px) {
    .top    { 
        flex: 1 1 50%; 
    }
    .bottom { 
        flex: 1 1 100%;
        aspect-ratio: 1 / .25;
        display: flex;
        flex-direction: row;
    }
    .mainSubChild {
        border: 1px solid black;
    }
}

.other {
    border: 1px solid black;
}

.otherChild {
    border: 1px solid black;
}