.contents {
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
:root[data-dark-mode = "dark"] .contents {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r + var(--tone-step) * 2), 255)
        clamp(0, calc(g + var(--tone-step) * 2), 255)
        clamp(0, calc(b + var(--tone-step) * 2), 255)
    );
}
:root[data-dark-mode = "light"] .contents {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r - var(--tone-step) * 2), 255)
        clamp(0, calc(g - var(--tone-step) * 2), 255)
        clamp(0, calc(b - var(--tone-step) * 2), 255)
    );
}

.body {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.element {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;

    border-radius: 1rem;
    padding: .5rem;
}
@media(max-width: 700px) {
    .element {
        flex: 0 0 100%
    }
}
:root[data-dark-mode = "dark"] .element {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r + var(--tone-step) * 3), 255)
        clamp(0, calc(g + var(--tone-step) * 3), 255)
        clamp(0, calc(b + var(--tone-step) * 3), 255)
    );
}
:root[data-dark-mode = "light"] .element {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r - var(--tone-step)), 255)
        clamp(0, calc(g - var(--tone-step)), 255)
        clamp(0, calc(b - var(--tone-step)), 255)
    );
}

.elementChild {
    border-radius: 1rem;
    padding-bottom: 1rem;
}
:root[data-dark-mode = "dark"] .elementChild {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r + var(--tone-step) * 5), 255)
        clamp(0, calc(g + var(--tone-step) * 5), 255)
        clamp(0, calc(b + var(--tone-step) * 5), 255)
    );
}
:root[data-dark-mode = "light"] .elementChild {
    background-color: rgb(from var(--sky-bg)
        clamp(0, calc(r + var(--tone-step)), 255)
        clamp(0, calc(g + var(--tone-step)), 255)
        clamp(0, calc(b + var(--tone-step)), 255)
    );
}

.elementConditions {
    aspect-ratio: 1 / 1.5;
    overflow-y: scroll;
}